@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10px;
  color: whitesmoke;
    box-sizing: border-box;
  background-image: url('back2.jpg');
  background-position: center;
  background-size: cover;
}

.flex{
  display: flex;
}

.app{
  width: 100%;
  height: calc(100vh - 20px);
}

.navbar{
  width: 20vw;
  padding: 5px;
  flex-direction: column;
  background-color: rgba(33, 32, 32, 0.40);
  backdrop-filter: blur(7px);
}

.navbar-name{
  padding: 10px 20px;
  margin: 2vh auto;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  gap: 10px;
}

.navbar-search{
  margin: 2vh auto;
  padding: 6px 12px;
  width: calc(20vw * 0.9);
  box-sizing: border-box;
  border-radius: 18px;
  background-color: rgb(216, 233, 237, 0.15);
  color: whitesmoke;
}

.navbar-groups{
  width: 95%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  margin: 2vh auto 0 auto;
  padding-top: 15px;

}

.navbar-groups>div{
  width: 100%;
  padding: 10px 30px;
  box-sizing: border-box;
  align-items: center;
  gap: 40px;
  position: relative;
}

.navbar-bottom-menu{
  width: 98%;
  margin: auto auto 2vh auto;
  justify-content: space-between;
  align-items: center;
}

.navbar-bottom-menu>div{
  padding: 10px;
}

.navbar-bottom-menu>div:first-child{
  flex-grow: 1;
}

.light-hover:hover{
  background-color: rgb(216, 233, 237, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

.line{
  background: none;
  width: 1.5%;
  height: 27px;
  border-radius: 2px;
  position: absolute;
  left: 1%;
}



.navbar-groups>div:hover .line{
  background-color: rgba(255, 255, 255, 0.95);

}




