@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 15px 15px 15px 0;
  color: whitesmoke;
    box-sizing: border-box;
  /*background-image: url('back2.jpg');*/
  /*background-position: center;*/
  /*background-size: cover;*/
  /*background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);*/
  background-color: #222222;
}


.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.app{
  width: 100%;
  height: calc(100vh - 30px);
}

.navbar{
  width: 20vw;
  padding: 20px;
  flex-direction: column;
  /*background-color: rgba(33, 32, 32, 0.5);*/
  /*backdrop-filter: blur(7px);*/
  border-radius: 10px;
  box-sizing: border-box;
  /*border: 1px solid rgba(33, 32, 32, 0.5)*/
}

.navbar-name{
  padding: 10px 20px;
  margin: 2vh auto;
  width: 95%;
  box-sizing: border-box;
  flex-direction: column;
  gap: 10px;
}

.navbar-search{
  margin: 2vh auto;
  padding: 6px 12px;
  width: calc(18vw * 0.9);
  box-sizing: border-box;
  border-radius: 18px;
  background-color: rgb(216, 233, 237, 0.15);
  color: whitesmoke;
}

.navbar-groups{
  width: 95%;
  border-top: 1px solid rgba(33, 32, 32, 0.5);
  margin: 2vh auto 0 auto;
  padding-top: 15px;
}

.navbar-groups>div{
  width: 100%;
  padding: 10px 30px;
  box-sizing: border-box;
  align-items: center;
  gap: 40px;
  position: relative;
}

.navbar-bottom-menu{
  width: 98%;
  margin: auto auto 2vh auto;
  justify-content: space-between;
  align-items: center;
}

.navbar-bottom-menu>div{
  padding: 10px;
}

.navbar-bottom-menu>div:first-child{
  flex-grow: 1;
}

.light-hover:hover{
  background-color: rgba(68, 67, 67, 0.3);
  border-radius: 5px;
  cursor: pointer;
}

.line{
  width: 1.5%;
  height: 27px;
  border-radius: 2px;
  position: absolute;
  left: 1%;
  background-color: rgba(255, 255, 255, 0.95);
}

.list{
  flex-grow: 1;
  backdrop-filter: blur(7px);
  flex-direction: column;
  border-radius: 10px;
  /*border: 1px solid rgba(33, 32, 32, 0.5);*/
  /*background-color: rgba(33, 32, 32, 0.4);*/
  background-image: url('background.jpg');
  background-size: cover;
}

.list-top{
  justify-content: space-between;
  padding: 25px 50px;
  align-items: center;
  border-bottom: 1px solid rgba(107, 104, 104, 0.5);
  background-color: rgba(33, 32, 32, 0.4);
  border-radius: 10px 10px 0 0;
}

.list-top>div:last-child{
  padding: 10px;
}

.list-top>div:first-child{
  font-size: 28px;
}

.list-content{
  flex-grow: 1;
}

.list-task-input{
  background-color: rgba(33, 32, 32, 0.4);
  backdrop-filter: blur(5px);
  width: 90%;
  margin: auto auto 2vh auto;
  border-radius: 5px;
  box-sizing: border-box;

}

.list-task-input input{
  background: none;
  border: none;
  outline: none;
  line-height: 24px;
  color: whitesmoke;
  width: 100%;
  padding: 15px 30px;
}

.list-tasks{
  height: 75%;
  margin-top: 5vh;
}

.list-tasks>div{
  padding: 15px 30px;
  width: 90%;
  margin: 1.5vh auto;
  background-color: rgba(38, 38, 38, 0.4);
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  border-radius: 5px;
}

.date{
  margin-top: 1vh;
  font-size: 15px;
  color: #c7c5c5;
}

.option{
  font-weight: 400;
}

.new-list-input{
  width: 100%;
  box-sizing: border-box;
  padding: 2px 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: #c7c5c5;
  font-size: 16px;
  font-style: inherit;
}



